.container {
  height: 640px;
  width: 640px;
  border: black solid 2px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.box {
  border: 0.5px solid;
  height: 30px;
  display: flex;
}

.inner {
  border: 0.5px solid;
  height: 30px;
  flex: 1;
}
